*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    height: 100%;
    background-image: url(../imagenes/fonditok.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}
