*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    height: 100%;
    background-image: url(../imagenes/fonditok.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}
li{
    list-style: none;
    text-decoration: none;
}
marquee{
    background-color: white;
    margin-left: -40px;
    

}
marquee h1{
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
header{
    width: 1300px;
    height: 140px;
    margin-top: 30px;
    margin-left: 20px;
    padding-left: 40px;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../imagenes/fondook.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

header .header_superior{
    width: 1200px;
    margin-top: -35px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.logo img{
    width: 80px;
    margin-left: 2px;
    padding-left: 5px;
    align-items: center;


}

.imagen1{
    margin: auto;
    margin-left: 70px;
    margin-right: 200px;
    padding: auto;
}

.ayuda{
    margin-left: -60px;
}
.ayuda > ul > li > a{
    margin-bottom: 30px;
    padding-bottom: 30px;
    align-items: flex-start;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    
} 
.ayuda a > i{
    margin-top: 15px;
    
    display: block;
    font-size: 30px;
    color: white;
    text-decoration: none;
}
#navbarCollapse{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 10px;
    align-items: center;
    position: relative;

}
#navbarCollapse div{
    position: relative;
   
}
#navbarCollapse p{
    display: block;
    font-size: 15px;
    color: white;
    font-weight: bold;
}
#carrito{
    margin-left: -130px;
}
#carrito a{
    width: 300px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    background-color: #fa047f;
    border: 1px solid rgb(105, 103, 104);
    color: white;
}





/*BARRA MENU*/
.container_menu{
    width: 1300px;
    height: 50px;
    margin-top: -25px;
    margin-left: -40px;
    margin-bottom: 80px;
    font-size: 20px;
    background: #77e0fa;
    padding: 0px 20px;
    align-items: center;
    text-decoration: none;
    list-style: none;
}


nav{
    height: 100%;
    text-decoration: none;
}

nav > ul{
   height: 100%;
   display: flex;
}
nav > ul > li{
    font-size: 30px;
    text-align: center;
    align-items: center;
    height: 100%;
    position: relative;
    text-decoration: none;
    list-style: none;
    
}
nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}
nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #2bbdc2;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/*CONTAINER_MENU*/
nav  ul  li  ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 50px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
    text-decoration: none;
    list-style: none;
    
}
    
nav > ul > li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}
nav  ul  li  ul:before{
    content:'';
   width: 0;
   height: 0;
   border-left: 12px solid transparent;
   border-right: 12px solid transparent;
   border-bottom: 12px solid white;
   position: absolute;
   top:-12px;
   left: 20px;
        
}
nav > ul > li > ul > li > a{
   display: block;
   color: hsl(318, 86%, 58%);
   padding: 6px;
   padding-left: 14px;
   margin-top: 10px;
   font-size: 14px;
   text-transform: uppercase;
   transition: all 300ms ease;
}
    
nav > ul > li > ul > li > a:hover{
    background:#77e0fa;
    color: rgb(238, 118, 172);
    transform: scale(1,1);
    padding-left: 30px;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px opx rgba(0,0,0,0.5);
}
/*carousel*/
.barra-nav{
    width: 1600px;
    height: 450px;
    margin-top: 68px;
    margin-left: -130px;
    padding: 150px;
}
/*anunicos*/
.anuncios1{
    margin-top: 120px;
    margin-left: 30px;
    display: inline-block;
}
.tablita{
    display: inline-block;
}
/*aside*/
aside{
    margin-top: -550px;
    margin-left: 80px;
}
.video{
    margin-left: 300px;
    display: inline-block;
    
}
.pdf{
    margin-left: 800px;
    padding-left: 5px;
    padding-right: 5px;

    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    background-color: #f04199;
    border-radius: 50px;
    border: 2px solid rgb(214, 34, 115);
    

}
.pdf a{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    color: white;
    text-shadow:5px 5px 5px rgb(214, 34, 115);
    text-decoration: none;
}
.pdf a:hover{
    color:#f8bfea;
}
/*tabla*/
table{
    border-color: #fa77de;
    box-shadow: 10px 10px 50px rgb(15, 15, 15);
    
    
}
.tabla{
    margin: auto;
    padding: auto;
    align-items: center;
    border: 4px solid rgb(238, 118, 172);
    color: #084d47;

}
.tabla{
    margin-top: 200px;
}
.tabla{
    width: 300px;
    height:500px;
    margin:auto;
    align-items: center;
    
}
td{

    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 4px solid rgb(238, 118, 172);
}

.social{
    width: 50px;
    height: 50px;
    background: rgb(53, 243, 126);
    display: flex;
    list-style: none;
    border-radius: 50%;
    color: white;
    position: fixed;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    top: 500px;
    right: 30px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    list-style: none;
    z-index: 10;
    
}

.social:hover{
    color: white;
    transform: scale(1.1);
    border-color: rgba(10, 10, 10, 0.1);
    list-style: none;
}
.social a i{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    margin-top: 15px;
    padding: 10px;
    color: white;
    list-style: none;

}



#boton-subir{
    width: 60px;
    height: 60px;
    background: rgb(52, 222, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    position: fixed;
    bottom: 130px;
    right: 20px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
    z-index:10;

}
#boton-subir:hover{
    transform: scale(1.1);
    border-color: rgba(0,0,0,0.1);
}

/*columnas img*/
#lista-productos{
    margin-top: 300px;
    margin-left: 10px;
    align-items: center;
    text-align: center;

}
#lista-productos .btn{
    width: 200px;
    height: 40px;
    text-align: center;
    align-items: center;
    display: block;
    background-color: #f04199;
    border-radius: 10px;
    border: 2px solid;
    color: white;
}

.container-img{
    width: 1300px;
    margin-left: 20px;
    display: flex;
}
.container-img{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
    font-size: 20px;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    

}

.novedades{
    width: 1300px;
}

/*footer anuncios*/
.columna-info{
    width: 1300px;
    height: 350px;
    margin: auto;
    margin-bottom: 20px;
    padding: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #f8c6ec;
}
.info{
    margin-top: 20px;
    align-items: center;
    text-align: center;
    font-size: 20px;


}
.info h3{
    font-size: 40px;
    font-weight: bold;
    color: #f04199;
    text-shadow: 5px 5px 5px rgb(240, 235, 238);

}
.info p{
    font-size: 25px;
    font-weight: bold;
}
.info span{
    color: #f80880;
    text-shadow: 5px 5px 5px rgb(240, 235, 238);
    display: inline-block;
    font-size: 40px;
}
.info a{
    color:#f80880; 
    text-shadow: 5px 5px 5px rgb(240, 235, 238);
    font-size: 40px;
}
.info a:hover{
    color: white;
}
/*destacado*/
.titulo2{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-shadow:5px 5px 5px rgb(214, 34, 115);

}
/*novedades*/
.titulo3{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-shadow:5px 5px 5px rgb(214, 34, 115);
}
/*footer link insta*/
.link-insta{
    margin: auto;
    padding: auto;

}
.link-insta{
    width: 1300px;
    height: 300px;
    display: block;
    margin: auto;
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
    align-items: center;
    background-color: #f8bfea;
    font-size: 40px;
    font-weight: bold;
    color: #f04199;
    text-shadow: 5px 5px 5px rgb(240, 235, 238);

}
.insta i{
    font-size: 40px;

}
.insta a{
    font-size: 40px;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid;
    border-radius: 60px;
    border: solid;
    border-color: rgb(250, 246, 246);
    color:#f04199;
    text-shadow: 5px 5px 5px rgb(105, 103, 104);

}
.insta a:hover{
    color: white;
    text-decoration: none;
    list-style: none;

}
.insta{
    margin: auto;
    padding: auto;
}

.gps{
    width: 1300px;
    height: 400px;
    margin: auto;
    padding-top: 20px;
    background-color: #f5a3e0;
    font-size: 30px;
    align-items: center;
}
.gps h3{
    margin-left: 500px;
    padding-top: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-shadow: 5px 5px 5px rgb(214, 34, 115);
}
iframe{
    
    margin-left: 445px;
    padding: 10px;
}

/*footer*/
.referencias{
    width: 1300px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    background-color: #f8bfea;
}
.referencias{
    text-align: center;
    margin: auto;
    font-size: 30px;
    text-decoration: none;

}
.referencias h3{
    font-size: 40px;
    color: #fa047f;
    font-weight: bold;

}
.referencias p{
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    font-weight: bold;
    color: #f04199;
    text-shadow: 5px 5px 5px rgb(240, 235, 238);

}
.referencias a{
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    font-weight: bold;
    color: #f04199;
    text-shadow: 5px 5px 5px rgb(240, 235, 238);
    
}
.referencias a:hover{
    color: #fa77de;
}
.referencias i{
    font-size: 40px;
    
}
.tarjetas{
    width: 1300px;
    height: 200px;
    background-color: #fa77de;
    text-align: left;
    font-size: 30px;
    font-weight: bold;

}
.tarjetas h3{
    font-size: 40px;
    font-weight: bold;
    color: #f8bfea;
    text-shadow: 5px 5px 5px rgb(253, 66, 178);
    padding-left: 20px;
}
.tarjetas{
    margin: auto;

}
.tarjetas img{
    align-items: center;
    margin-left: 5px;
    padding: 2px;
}
/*pie de pagina*/
footer{
    width: 1300px;
    height: 400px;
    margin: auto;

}

.pie-de-pagina{
    margin-left: 25px;
    margin-bottom: 3px;
    padding-left: 20px;
}
.pie-de-pagina{
    display: inline-block;
    width: 1300px;
    height: 50px;
    background-color: aquamarine;
    font-size: 20px;
    align-items: center;
}
address{
    display: inline-block;
    text-align: center;
    padding: 10px 10px;

}

@media(max-widtch:500px) {
    .header_superior{
        height: 200px;
        padding: 10px;

    }
    .logo{
        width: 200px;
    }
    .barra-nav{
        width: 100%;
        padding: 60px 20px;
    }
    .container-img{
        grid-template-columns:(1,fr);

    }
    
}